<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img src="{{ url_for('static', path='logo/main.webp') }}">
        </a>
        <ul class="navbar-menu">
            <li><button>Tours</button></li>
            <li><button>Clients</button></li>
            <li><button>Admins</button></li>
            <li><button>Settings</button></li>
        </ul>
        <div class="navbar-user">
            <span id="username">{{ username }}</span>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </div>
</nav>
