<div class="tours-points-modal">
    <div class="tour-modal-layout">
        <span class="close" onclick="closeTourPointModal()">&times;</span>
        <div class="tour-settings">
            <h2>Tour Settings</h2>
            <label for="tour-point-name">Tour Name:</label>
            <input type="text" id="tour-point-name" >
            <label for="tour-point-description">Description:</label>
            <textarea id="tour-point-description"></textarea>
            <label for="tour-point-price">Base Price:</label>
            <input type="number" id="tour-point-price">
            <button class="submit-button">Save</button>
        </div>
        <div class="tour-points-constructor">
            <h2>Tour Points</h2>
            <button class="add-tour-point">+ Add Point</button>
            <div id="tour-points-list"></div>
        </div>
    </div>
</div>