<!-- Tour Modal -->
<div id="tour-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-add-tour-modal">&times;</span>
        <h2>Create New Tour Route</h2>
        <form id="new-tour-form">
            <label for="tour-name">Tour Name</label>
            <input type="text" id="tour-name" placeholder="Example Tour Around Example Street" required>
            <label for="tour-description">Description</label>
            <textarea id="tour-description" required></textarea>
            <label for="tour-price">Base Price</label>
            <input type="number" id="tour-price" placeholder="100" required>
            <button type="submit" class="submit-button">Create Tour</button>
        </form>
    </div>
</div>