# used to generate passwords and other hash keys
SECRET_KEY=
ALGORITHM = "HS256"

HEADLESS_MODE=False

# base api url (do not remove apiV1!)
API_BASE_URL="http://your-domain.com/apiV1"

# used to configure bot
TELEGRAM_TOKEN=

# paypal api credentials
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_API_URL

# telegram payment credentials
TELEGRAM_PAYMENT_PROVIDER=
TELEGRAM_CURRENCY=

# telegram api credentials
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# postgres credentials
POSTGRES_HOST =
POSTGRES_USER =
POSTGRES_PASSWORD =
POSTGRES_PORT =
POSTGRES_DB =