[Unit]
Description=Main DashaTourBot FastAPI service
After=network.target

[Service]
Type=simple
ExecStart=/home/freedom/dashabot/botenv/bin/python3.9 -m uvicorn main:app --host 0.0.0.0 --port 8000
WorkingDirectory=/home/freedom/dashabot
User=freedom
Restart=on-failure
RestartSec= 5
TimeoutStartSec= infinity

[Install]
WantedBy=multi-user.target