# utils
requests
aiohttp
python-multipart
pydub
Babel==2.17.0
itsdangerous==2.2.0
apscheduler==3.11.0

# api's backend and frontend
fastapi
uvicorn
bcrypt
pyjwt
jinja2
asgi-sitemaps==1.*
fastapi-babel==1.0.0

# telegram bot
python-telegram-bot

# database
pydantic
sqlalchemy[asyncio]
asyncpg
databases
aiosqlite
alembic