# utils
requests
aiohttp
python-multipart
pydub

# api's backend and frontend
fastapi
uvicorn
bcrypt
pyjwt
jinja2

# telegram bot
python-telegram-bot

# database
pydantic
sqlalchemy
databases
aiosqlite
