# utils
requests
aiohttp
python-multipart
pydub

# api's backend and frontend
fastapi
uvicorn
bcrypt
pyjwt
jinja2
asgi-sitemaps==1.*

# telegram bot
python-telegram-bot

# database
pydantic
sqlalchemy[asyncio]
asyncpg
databases
aiosqlite
alembic