<nav class="navbar is-transparent">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">🌍 PockeTour</a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#features">Features</a>
                <a class="navbar-item" href="/shop">Shop</a>
                <a class="navbar-item button is-primary" href="/login">Login</a>
            </div>
        </div>
    </div>
</nav>