.controls-wrapper{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: ;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.control-aside{
    grid-area: 1 / 1 / 2 / 2;
    padding: 1rem;
}

.page-title{
    text-align: center;
    background-color: var(--wenge);
    color: white;
    padding-top: 0.5rem;
}

.aside-list{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    gap: 2rem;
    list-style: none;
    background-color: var(--wenge);
}

.basic-aside-item{
    width: 100%;
}

.basic-aside-btn{
    width: 100%;
    font-family: sans-serif;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 1px solid;
    font-size: 1rem;
    padding-bottom: 8px;
}

.basic-aside-btn:hover{
    border-bottom: 2px solid;
    margin-bottom: -2px;
}

.main-controls{
    grid-area: 1 / 2 / 2 / 3;
    padding: 0.5rem;
    border: 1px solid var(--wenge);
    margin: 1rem 1rem 0 0;
    background-color: var(--platinum);
    padding: 1rem 1rem;
}

.control-tag{
    font-family: sans-serif;
    margin-left: 0.5rem;
}

.base-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
}

.form-label{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

.form-input{
    height: 2rem;
    padding: 10px 12px;
    border: 2px solid var(--nyanza-dark);
    border-radius: 0.5rem;
    min-width: 50%;
    max-width: 100%;
    font-family: sans-serif;
}

.tall{
    height: 2.5rem;
}

.form-input:focus{
    outline: 2px solid var(--nyanza-dark);
}

.base-btn{
    margin-top: 1rem;
    margin-left: 0.25rem;
}

.basic-table{
    margin-top: 1rem;
    table-layout: fixed;
    width: 100%;
    border: 2px solid var(--wenge);
    border-radius: 0.5rem;
    border-spacing: 6px;
    border-collapse: collapse;
}

td, th {padding: 6px;}

#all-rout-table > tbody .table-head .table-cell:nth-child(1){
    width:10%;
}

#all-rout-table > tbody .table-head .table-cell:nth-child(2){
    width: 30%;
}

#all-rout-table > tbody .table-head .table-cell:nth-child(3){
    width: 60%;
}

#all-rout-table > .table-row:nth-child(odd){
    background-color: var(--nyanza-dark);
}

#all-rout-table > .table-row .table-cell:nth-child(1){
    width:10%;
    text-align: center;
}

#all-rout-table > .table-row .table-cell:nth-child(2){
    width: 30%;
    text-align: center;
}

#all-rout-table > .table-row .table-cell:nth-child(3){
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete{
    background-color: red !important;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(1){
    width: 5%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(2){
    width: 10%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(3){
    width: 20%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(4){
    width: 15%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(5){
    width: 15%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(6){
    width: 25%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(7){
    width: 25%;
}

#all-rout-points-table > tbody .table-head .table-cell:nth-child(8){
    width: 15%;
}

#all-rout-points-table > .table-row .table-cell:nth-child(1){
    width: 5%;
}

#all-rout-points-table > .table-row .table-cell:nth-child(2){
    width: 10%;
}

#all-rout-points-table > .table-row .table-cell:nth-child(3){
    width: 20%;
}

#all-rout-points-table > .table-row .table-cell:nth-child(4){
    width: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15%;
    overflow: hidden;
}

#all-rout-points-table > .table-row .table-cell:nth-child(5){
    width: 15%;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 15%;
    overflow: hidden;
}

#all-rout-points-table > .table-row .table-cell:nth-child(6){
    width: 25%;

    max-width: 25%;
    overflow: hidden;
}

#all-rout-points-table > .table-row .table-cell:nth-child(7){
    width: 25%;

    max-width: 25%;
    overflow: hidden;
}

#all-rout-points-table > .table-row .table-cell:nth-child(8){
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}