<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='logo/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='logo/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='logo/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='logo/favicon/site.webmanifest') }}">
    <title>PockeTour: {{ _("Checkout for" ) }} {{ tour.rout_name }}</title>
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/revolver-msg.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YH9DBEETFV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YH9DBEETFV');
    </script>
</head>
<body>
{% include "modules/landing/navbar.html" %}
  <section class="section">
      <div class="container">
          <h1 class="title">{{ _("Checkout") }}</h1>
          <div class="box">
              <h2 class="subtitle">{{ _("Tour Details" ) }}</h2>
              <p><strong>Tour:</strong> <span id="tour-name">{{ tour.rout_name }}</span></p>
              <p><strong>Price:</strong> <span id="tour-price">{{ tour.base_price }}</span> USD</p>
              <p><strong>Description:</strong> <span id="tour-description">{{ tour.rout_description }}</span></p>
          </div>

          <div class="box">
              <h2 class="subtitle">{{ _("Choose Payment Method" ) }}</h2>
              <button class="button is-primary" id="pay-with-paypal" data-user-id="{{ user_id }}" data-tour-id="{{ tour.id }}">{{ _("Card with PayPal") }}</button>
<!--              <button class="button is-link" id="pay-with-other">Other Payment Methods</button>-->
          </div>
      </div>
  </section>
{% include "modules/landing/footer.html" %}
</body>
<script type="module" src="{{ url_for('static', path='js/revolver.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/utils.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/checkout/getInvoice.js') }}"></script>
</html>