{% extends "base.html" %}

{% block title %}PockeTour - {{ rout.rout_name }}{% endblock %}

{% block description %}
<meta name="description" content="{{ rout.description }}">
<meta property="og:description" content="{{ rout.description }}">
<meta name="twitter:description" content="{{ rout.description }}">
{% endblock %}

{% block content %}
{% include "modules/landing/navbar.html" %}
<section class="section">
    <div class="container">
        <div class="columns">
            <!-- Image Section -->
            <div class="column is-half">
                <figure class="image is-4by3">
                    {% if rout.image %}
                    <img id="tour-image" src="/media/images/{{ rout.image }}" alt="Tour Image">
                    {% else %}
                    <img id="tour-image" src="{{ url_for('static', path='images/placeholder-image.jpg') }}" alt="Tour Image">
                    {% endif %}
                </figure>
            </div>
            <!-- Tour Info Section -->
            <div class="column is-half">
                <h1 class="title" id="tour-name">{{ rout.rout_name }}</h1>
                <p class="subtitle" id="tour-price">${{ rout.base_price }}</p>
                <p id="tour-description">{{ rout.rout_description }}</p>
                <br>
                <div class="buttons">
                    <a class="button is-success" id="buy-for-me" href="/tour/{{ rout.id }}/buy?target=self">{{ _( "Buy for Me" ) }}</a>
<!--                        <a class="button is-info" id="buy-for-friend" href="/tour/{{ rout.id }}/buy?target=friend">Gift to Friend</a>-->
                </div>
            </div>
        </div>
        <!-- Tour Points -->
        <div class="box">
            <h2 class="title">{{ _( "Tour Points" ) }}</h2>
            <div id="tour-points">
                {% for rout in rout_points[:3] %}
                <div class="box">
                    <p><strong>{{ rout.point_name }}</strong></p>
                    <div class="columns is-vcentered">
                        <!-- Images Section -->
                        <div class="column is-half">
                            {% if rout.image %}
                            <div class="grid">
                                {% for image in rout.image %}
                                <div class="cell">
                                    <figure class="image">
                                        <img src="/{{ image }}" alt="Tour Image" class="tour-thumbnail">
                                    </figure>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <!-- Audio Section -->
                        <div class="column is-half">
                            {% if rout.audio %}
                                <div class="audio-gallery">
                                    {% for audio in rout.audio %}
                                    <button class="button is-info is-small play-audio" data-audio="/{{ audio }}">
                                        ▶ Play Audio
                                    </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for rout in rout_points[3:] %}
                <div class="box">
                    <p><strong>{{ rout.point_text }}</strong></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% include "modules/landing/footer.html" %}
{% endblock %}
