<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="{{ lang|default('en') }}">
<head>
    <!--Base Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Title-->
    <title>{% block title %}PockeTour{% endblock %}</title>
    <!--Descriptions-->
    {% block description %}
    <meta name="description" content="{{ _('Browse and explore immersive self-guided tours powered by audio, images, and maps. Discover new destinations and travel at your own pace.') }}">
    <meta property="og:description" content="{{ _('Browse and explore immersive self-guided tours powered by audio, images, and maps. Discover new destinations and travel at your own pace.') }}">
    <meta name="twitter:description" content="{{ _('Browse and explore immersive self-guided tours powered by audio, images, and maps. Discover new destinations and travel at your own pace.') }}">
    {% endblock %}
    <!--Meta SEO-->
    <link rel="canonical" href="https://pocketour.online/">
    <meta name="author" content="PockeTour: {{ _('Discover Unique Audio Tours Around the World') }}">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="{{ _('audio tours, walking tours, self-guided travel, city tours, virtual travel, cultural tourism, travel app, PockeTour') }}">
    <!--Open Graph Meta Tags-->
    <meta property="og:title" content="PockeTour: {{ _('Discover Unique Audio Tours Around the World') }}">
    <meta property="og:image" content="{{ url_for('static', path='images/preview.jpg') }}">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:type" content="website">
    <!--Twitter Meta Tags-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PockeTour: {{ _('Discover Unique Audio Tours Around the World' ) }}">
    <meta name="twitter:image" content="{{ url_for('static', path='images/preview.jpg') }}">
    <!--PWA/Mobile Meta Tags-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="manifest" href="{{ url_for('static', path='logo/favicon/site.webmanifest') }}">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='logo/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='logo/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='logo/favicon/favicon-16x16.png') }}">
    <!--Stylesheets-->
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/revolver-msg.css') }}" rel="stylesheet">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <!--Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YH9DBEETFV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-YH9DBEETFV');
    </script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
<script>
if ("serviceWorker" in navigator) {
    navigator.serviceWorker.register("/static/js/pwa/sw.js")
        .then(() => console.log("Service Worker Registered"))
        .catch(err => console.error("Service Worker Registration Failed", err));
}
</script>
<script type="module" src="{{ url_for('static', path='js/pwa/sw.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/pwa/installPWA.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/utils.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/changeLanguage.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/revolver.js') }}"></script>
{% block scripts %}{% endblock %}
</html>