<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PockeTour: {{ _("Login") }}</title>
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ _('Browse and explore immersive self-guided tours powered by audio, images, and maps. Discover new destinations and travel at your own pace.') }}">
    <meta name="keywords" content="audio tours, walking tours, self-guided travel, city tours, virtual travel, cultural tourism, travel app, PockeTour">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='logo/favicon/apple-touch-icon.png') }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='logo/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='logo/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='logo/favicon/site.webmanifest') }}">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/auth/common.css') }}" rel="stylesheet">
<!--    <link href="{{ url_for('static', path='css/auth-page.css') }}" rel="stylesheet">-->
    <link href="{{ url_for('static', path='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/revolver-msg.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
{% include "modules/landing/navbar.html" %}
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title is-4">{{ _("Login" ) }}</h3>
                    <div class="box">
                        <form id="login-form">
                            <div class="field">
                                <label class="label">{{ _("Username" ) }}</label>
                                <div class="control">
                                    <input class="input" type="text" id="username" placeholder="{{ _('Enter your username') }}" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" type="password" id="password" placeholder="{{ _('Enter your password') }}" required>
                                </div>
                            </div>
                            <button type="submit" class="button is-info is-fullwidth">{{ _("Login" ) }}</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/register">{{ _("Don't have an account? Register") }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% include "modules/landing/footer.html" %}
</body>
<script type="module" src="{{ url_for('static', path='js/landing/auth.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/revolver.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/utils.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/changeLanguage.js') }}"></script>
</html>