<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PockeTour: {{ _( "Tours Shop" ) }}</title>
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/bulma.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='css/revolver-msg.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YH9DBEETFV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YH9DBEETFV');
    </script>
</head>
<body>

{% include "modules/landing/navbar.html" %}

<section class="section">
    <div class="container">
        <h1 class="title">{{ _( "Tour Store" ) }}</h1>

        <!-- Search and Filter Bar -->
        <div class="box">
            <div class="field">
                <label class="label">{{ _( "Search" ) }}</label>
                <div class="control">
                    <input class="input" type="text" id="search-input" placeholder="{{ _( 'Search for a tour...' ) }}">
                </div>
            </div>
            <button class="button is-primary" id="search-btn">{{ _( "Search" ) }}</button>
        </div>

        <!-- Tour Listing -->
        <div id="tour-list" class="columns is-multiline"></div>

        <!-- Pagination -->
        <div class="pagination">
            <button class="button is-link" id="prev-page">{{ _( "Previous" ) }}</button>
            <button class="button is-link" id="next-page">{{ _( "Next" ) }}</button>
        </div>
    </div>
</section>
{% include "modules/landing/footer.html" %}
</body>
<script type="module" src="{{ url_for('static', path='js/store/search.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/revolver.js') }}"></script>
<script type="module" src="{{ url_for('static', path='js/landing/utils.js') }}"></script>
</html>