.navbar-item {
  &.has-dropdown {
    .navbar-dropdown {
      display: none;
    }
    &.is-hoverable:hover {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .reverse-columns-mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}