.working-window {
    position: absolute;
    left: 28px;
    width: calc(100vw - 4.5rem);
    height: calc(100vh - 60px);
    padding: 20px;
    background: #ecf0f1;
    display: none;
    opacity: 0;
    border-radius: 0.9rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-in-out;
    box-sizing: border-box;
}

.working-window.active {
    display: block;
    opacity: 1;
}


.add-button {
    margin: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0056b3;
}